/* ==========================================================================
   ⚠️ ATTENTION : DESIGN TEMPORAIRE DE DÉPART (À RESTUCTURER EN PHASE 1)
   ========================================================================== */

body {
    background-color: #ffff00; /* Jaune fluo agressif */
    color: #ff0000; /* Texte rouge vif illisible */
    font-family: "Comic Sans MS", "Comic Sans", cursive; /* Police non professionnelle */
}

nav {
    background-color: #000000; /* Bleu primaire brut */
    color: #ffffff;
    padding: 25px;
    text-align: center;
    border-bottom: 8px solid #ff00ff; /* Ligne fuchsia */
}

.hero h2 {
    text-transform: uppercase;
}

.produit-img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem; /* Arrondi des angles */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Ombre douce */
}